<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <app-today-weather></app-today-weather>
    </div>
    <div class="col-md-5">
      <app-future-weather></app-future-weather>
    </div>
  </div>
</div>
