.timeline {
    display: grid;
    grid-template-columns: repeat(8, 3rem);
}

.today-temperature {
    display: flex;
    align-items: center;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}