<div class="primary" *ngIf="!errorMessage">
  <h3>5-day Weather Forecast</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Min Temp</th>
        <th scope="col">Max Temp</th>
        <th scope="col">Forecast</th>
        <th scope="col">Day Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of weatherData">
        <td>{{ forecast.dt_txt | date : "EEE,MMM dd" }}</td>
        <td>{{ forecast.main.temp_min | number : "1.0-0" }}&deg;</td>
        <td>{{ forecast.main.temp_max | number : "1.0-0" }}&deg;</td>
        <td>
          <img
            src="assets/images/{{ forecast.weather[0].icon }}.png"
            alt="icon"
          />
        </td>
        <td>{{ forecast.weather[0].main }}</td>
      </tr>
    </tbody>
  </table>
</div>
